# 2. Dataframes

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [7]:
df_dict = pd.DataFrame(
    data={
        "Coluna1": [0, 1, 2, 3],
        "Coluna2": [4, 5, 6, 7]
    },
    index=["a", "b", "c", "d"]
)
df_dict

   Coluna1  Coluna2
a        0        4
b        1        5
c        2        6
d        3        7

In [106]:
path_copa = "../../../Notebooks/dados/Copa/results.csv"

df_copa = pd.read_csv(path_copa)

df_copa.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [20]:
df_copa["home_team"].head()

0    Scotland
1     England
2    Scotland
3     England
4    Scotland
Name: home_team, dtype: object

In [21]:
df_copa[["home_team"]].head()

  home_team
0  Scotland
1   England
2  Scotland
3   England
4  Scotland

In [17]:
type(df_copa["home_team"])

pandas.core.series.Series

In [18]:
type(df_copa[["home_team"]])

pandas.core.frame.DataFrame

In [23]:
df_copa[["home_team", "away_team", "home_score"]].head()

  home_team away_team  home_score
0  Scotland   England           0
1   England  Scotland           4
2  Scotland   England           2
3   England  Scotland           2
4  Scotland   England           3

In [16]:
df_copa[[coluna for coluna in df_copa.columns if "home" in coluna]].head()

  home_team  home_score
0  Scotland           0
1   England           4
2  Scotland           2
3   England           2
4  Scotland           3

In [24]:
df_copa.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [52]:
df_copa_aux = df_copa.copy()

df_copa_aux["total_goals"] = df_copa_aux["home_score"] + df_copa_aux["away_score"]
df_copa_aux["Versus"] = df_copa_aux["home_team"] + " Vs " + df_copa_aux["away_team"]
df_copa_aux["gols acumulados"] = df_copa_aux["total_goals"].cumsum()
# df_copa_aux = df_copa_aux.drop("total_goals", axis=1)
df_copa_aux = df_copa_aux.drop(2, axis=0)
# df_copa_aux.drop("total_goals", axis=1, inplace=True)

df_copa_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,Scotland Vs England,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,England Vs Scotland,6
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,England Vs Scotland,13
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,Scotland Vs England,16
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,4,Scotland Vs Wales,20

In [46]:
df_copa_aux.loc[10000]

date                           1976-08-11
home_team                       Australia
away_team                       Hong Kong
home_score                              0
away_score                              1
tournament                       Friendly
city                             Canberra
country                         Australia
neutral                             False
Versus             Australia Vs Hong Kong
gols acumulados                     36482
Name: 10000, dtype: object

In [47]:
df_copa_aux.loc[30000, "home_team"]

'Belarus'

In [50]:
df_copa_aux.loc[[30000, 30001, 40000], ["home_team", "away_team"]]

      home_team   away_team
30000   Belarus  Luxembourg
30001   Belgium     Finland
40000    Guinea       Sudan

## Filtro

In [56]:
df_dict

   Coluna1  Coluna2
a        0        4
b        1        5
c        2        6
d        3        7

In [57]:
df_dict > 2

   Coluna1  Coluna2
a    False     True
b    False     True
c    False     True
d     True     True

In [58]:
df_dict["Coluna1"] > 2

a    False
b    False
c    False
d     True
Name: Coluna1, dtype: bool

In [64]:
df_dict[df_dict["Coluna1"] > 2]

   Coluna1  Coluna2
d        3        7

In [65]:
df_copa_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,Scotland Vs England,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,England Vs Scotland,6
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,England Vs Scotland,13
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,Scotland Vs England,16
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,4,Scotland Vs Wales,20

In [67]:
df_copa_aux[df_copa_aux["home_team"] == "Brazil"]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,2,Brazil Vs Chile,1973
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,3,Brazil Vs Uruguay,1979
477,1917-10-12,Brazil,Chile,5,0,Copa América,Montevideo,Uruguay,True,5,Brazil Vs Chile,2120
503,1919-05-11,Brazil,Chile,6,0,Copa América,Rio de Janeiro,Brazil,False,6,Brazil Vs Chile,2198
508,1919-05-18,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False,4,Brazil Vs Argentina,2218
...,...,...,...,...,...,...,...,...,...,...,...,...
44302,2022-11-24,Brazil,Serbia,2,0,FIFA World Cup,Lusail,Qatar,True,2,Brazil Vs Serbia,129350
44318,2022-11-28,Brazil,Switzerland,1,0,FIFA World Cup,Doha,Qatar,True,1,Brazil Vs Switzerland,129388
44342,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True,5,Brazil Vs South Korea,129455
44640,2023-06-17,Brazil,Guinea,4,1,Friendly,Barcelona,Spain,True,5,Brazil Vs Guinea,130242
44688,2023-06-20,Brazil,Senegal,2,4,Friendly,Lisbon,Portugal,True,6,Brazil Vs Senegal,130369

In [68]:
df_copa_aux[(df_copa_aux["home_team"] == "Brazil") | (df_copa_aux["away_team"] == "Brazil")]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
410,1914-09-20,Argentina,Brazil,3,0,Friendly,Buenos Aires,Argentina,False,3,Argentina Vs Brazil,1847
411,1914-09-27,Argentina,Brazil,0,1,Copa Roca,Buenos Aires,Argentina,False,1,Argentina Vs Brazil,1848
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,2,Brazil Vs Chile,1973
442,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False,2,Argentina Vs Brazil,1975
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,3,Brazil Vs Uruguay,1979
...,...,...,...,...,...,...,...,...,...,...,...,...
44342,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True,5,Brazil Vs South Korea,129455
44345,2022-12-09,Croatia,Brazil,1,1,FIFA World Cup,Al Rayyan,Qatar,True,2,Croatia Vs Brazil,129464
44469,2023-03-25,Morocco,Brazil,2,1,Friendly,Tangier,Morocco,False,3,Morocco Vs Brazil,129782
44640,2023-06-17,Brazil,Guinea,4,1,Friendly,Barcelona,Spain,True,5,Brazil Vs Guinea,130242
44688,2023-06-20,Brazil,Senegal,2,4,Friendly,Lisbon,Portugal,True,6,Brazil Vs Senegal,130369

In [79]:
df_copa_aux[((df_copa_aux["home_team"] == "Brazil") | (df_copa_aux["away_team"] == "Brazil")) & (df_copa_aux["city"] != "Rio de Janeiro")]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
410,1914-09-20,Argentina,Brazil,3,0,Friendly,Buenos Aires,Argentina,False,3,Argentina Vs Brazil,1847
411,1914-09-27,Argentina,Brazil,0,1,Copa Roca,Buenos Aires,Argentina,False,1,Argentina Vs Brazil,1848
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,2,Brazil Vs Chile,1973
442,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False,2,Argentina Vs Brazil,1975
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,3,Brazil Vs Uruguay,1979
...,...,...,...,...,...,...,...,...,...,...,...,...
44342,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True,5,Brazil Vs South Korea,129455
44345,2022-12-09,Croatia,Brazil,1,1,FIFA World Cup,Al Rayyan,Qatar,True,2,Croatia Vs Brazil,129464
44469,2023-03-25,Morocco,Brazil,2,1,Friendly,Tangier,Morocco,False,3,Morocco Vs Brazil,129782
44640,2023-06-17,Brazil,Guinea,4,1,Friendly,Barcelona,Spain,True,5,Brazil Vs Guinea,130242
44688,2023-06-20,Brazil,Senegal,2,4,Friendly,Lisbon,Portugal,True,6,Brazil Vs Senegal,130369

In [78]:
df_copa_aux[df_copa_aux["home_team"].isin(["Argentina", "Brazil", "England"])]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Versus,gols acumulados
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,England Vs Scotland,6
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,England Vs Scotland,13
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,4,England Vs Scotland,24
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,3,England Vs Wales,47
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,9,England Vs Scotland,56
...,...,...,...,...,...,...,...,...,...,...,...,...
44530,2023-03-28,Argentina,Curaçao,7,0,Friendly,Santiago del Estero,Argentina,False,7,Argentina Vs Curaçao,129943
44603,2023-06-15,Argentina,Australia,2,0,Friendly,Beijing,China PR,True,2,Argentina Vs Australia,130128
44640,2023-06-17,Brazil,Guinea,4,1,Friendly,Barcelona,Spain,True,5,Brazil Vs Guinea,130242
44674,2023-06-19,England,North Macedonia,7,0,UEFA Euro qualification,Manchester,England,False,7,England Vs North Macedonia,130331
44688,2023-06-20,Brazil,Senegal,2,4,Friendly,Lisbon,Portugal,True,6,Brazil Vs Senegal,130369

## Indíces

In [80]:
df_dict

   Coluna1  Coluna2
a        0        4
b        1        5
c        2        6
d        3        7

In [84]:
df_dict.reset_index()

  index  Coluna1  Coluna2
0     a        0        4
1     b        1        5
2     c        2        6
3     d        3        7

In [90]:
index_novo = ["e", "f", "g", "h"]
df_dict["indice_novo"] = index_novo
df_dict.set_index("indice_novo")

             Coluna1  Coluna2
indice_novo
e                  0        4
f                  1        5
g                  2        6
h                  3        7

In [89]:
df_dict

   Coluna1  Coluna2 indice_novo
a        0        4           e
b        1        5           f
c        2        6           g
d        3        7           h

## Tratando dados Nulos

In [91]:
df_campeonatos = pd.DataFrame(
    {
        "Mundiais": [2, np.nan, 2, 3, np.nan],
        "Libertadores": [1, 3, 3, 3, np.nan],
        "Fundação": [1910, 1914, 1912, 1930, 1913]
    },
    index=["Corinthians", "Palmeiras", "Santos", "São Paulo", "XV de Piracicaba"]
)

df_campeonatos

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           NaN      1913

In [93]:
df_campeonatos_novo = df_campeonatos.dropna()
df_campeonatos_novo

             Mundiais  Libertadores  Fundação
Corinthians       2.0           1.0      1910
Santos            2.0           3.0      1912
São Paulo         3.0           3.0      1930

In [98]:
df_campeonatos.dropna(thresh=2)

             Mundiais  Libertadores  Fundação
Corinthians       2.0           1.0      1910
Palmeiras         NaN           3.0      1914
Santos            2.0           3.0      1912
São Paulo         3.0           3.0      1930

In [102]:
df_campeonatos_novo = df_campeonatos.fillna(0)
df_campeonatos_novo

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              0.0           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       0.0           0.0      1913

In [103]:
df_campeonatos["Libertadores"] = df_campeonatos["Libertadores"].fillna(df_campeonatos["Libertadores"].mean())
df_campeonatos

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           2.5      1913

In [105]:
df_campeonatos.reset_index().rename(columns={"index": "Times"})

              Times  Mundiais  Libertadores  Fundação
0       Corinthians       2.0           1.0      1910
1         Palmeiras       NaN           3.0      1914
2            Santos       2.0           3.0      1912
3         São Paulo       3.0           3.0      1930
4  XV de Piracicaba       NaN           2.5      1913