In [1]:
import pandas as pd

In [2]:
path_copa = "../../../Notebooks/dados/Copa/results.csv"

df_copa = pd.read_csv(path_copa)

df_copa.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [5]:
df_copa.pivot_table(
    index = "home_team",
    columns = None,
    values = "home_score",
    aggfunc = "sum"
).sort_values("home_score", ascending=False).head()

           home_score
home_team
Brazil           1476
Germany          1308
Argentina        1274
England          1214
Sweden           1178

In [28]:
lista_paises = ["Brazil", "Sweden", "Spain", "Argentina", "Italy"]

df_copa_aux = df_copa.copy()
df_copa_aux = df_copa_aux[(df_copa_aux["home_team"].isin(lista_paises)) & (df_copa_aux["away_team"].isin(lista_paises))]

df_copa_aux.pivot_table(
    index="home_team",
    # columns="away_team",
    aggfunc="mean",
    values=["home_score", "away_score"]
)

           away_score  home_score
home_team
Argentina    1.115942    1.608696
Brazil       1.169014    2.098592
Italy        0.982143    1.446429
Spain        0.736842    1.631579
Sweden       1.375000    1.375000

In [25]:
df_copa_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
410,1914-09-20,Argentina,Brazil,3,0,Friendly,Buenos Aires,Argentina,False
411,1914-09-27,Argentina,Brazil,0,1,Copa Roca,Buenos Aires,Argentina,False
442,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False
472,1917-10-03,Argentina,Brazil,4,2,Copa América,Montevideo,Uruguay,True
508,1919-05-18,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False

In [24]:
df_copa_aux.pivot_table(index="home_team")

C:\Users\rickk\AppData\Local\Temp\ipykernel_14632\1111651168.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_copa_aux.pivot_table(index="home_team")

           away_score  home_score   neutral
home_team
Argentina    1.115942    1.608696  0.391304
Brazil       1.169014    2.098592  0.338028
Italy        0.982143    1.446429  0.303571
Spain        0.736842    1.631579  0.210526
Sweden       1.375000    1.375000  0.125000

In [26]:
df_copa_aux.groupby("home_team").mean()

C:\Users\rickk\AppData\Local\Temp\ipykernel_14632\936527388.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_copa_aux.groupby("home_team").mean()

           home_score  away_score   neutral
home_team
Argentina    1.608696    1.115942  0.391304
Brazil       2.098592    1.169014  0.338028
Italy        1.446429    0.982143  0.303571
Spain        1.631579    0.736842  0.210526
Sweden       1.375000    1.375000  0.125000