## Unir tabelas

In [13]:
import pandas as pd
import numpy as np

path = "../../../Notebooks/dados/Copa/results.csv"
path_paises = "../../../Notebooks/dados/Paises/names.json"
path_continentes = "../../../Notebooks/dados/Paises/continent.json"

In [37]:
df_paises = pd.read_json(path_paises, orient="index").reset_index().rename(
    columns={
        "index": "siglas",
        0: "pais",
    }
)

df_continentes = pd.read_json(path_continentes, orient="index").reset_index().rename(
    columns={
        "index": "siglas",
        0: "Continentes",
    }
)

dict_continentes = {
    "EU": "Europa",
    "AF": "Africa",
    "SA": "América do Sul",
    "NA": "América do Norte",
    "AN": "Antartica",
    "OC": "Oceania"
}

df_dict = pd.DataFrame(dict_continentes.items(), index=dict_continentes.keys()).reset_index(drop=True)

df_dict

    0                 1
0  EU            Europa
1  AF            Africa
2  SA    América do Sul
3  NA  América do Norte
4  AN         Antartica
5  OC           Oceania

In [14]:
df_times = pd.DataFrame(
    {
        "Mundiais": [2, np.nan, 2, 3, np.nan],
        "Libertadores": [1, 3, 3, 3, np.nan],
        "Fundação": [1910, 1914, 1912, 1930, 1913]
    },
    index=["Corinthians", "Palmeiras", "Santos", "São Paulo", "XV de Piracicaba"]
)

df_times_plus = pd.DataFrame(
    {
        "Mundiais": [np.nan, np.nan, np.nan, 2],
        "Libertadores": [np.nan, 2, 1, 1],
        "Fundação": [1902, 1921, 1898, 1910]
    },
    index=["Fluminense", "Cruzeiro", "Vasco", "Corinthians"]
)

df_times_2 = pd.DataFrame(
    {
        "Estádio": ["Arena Neo Química", "Allianz Park", "Vila Belmiro", "Barão da Serra Negra", "Maracanã"],
        "Cidade": ["São Paulo", "São Paulo", "Santos", "Piracicaba", "Maracanã"],
        "Mundiais": [2, np.nan, 2, np.nan, 1],
    },
    index=["Corinthians", "Palmeiras", "Santos", "XV de Piracicaba", "Flamengo"]
)

df_times

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           NaN      1913

In [15]:
df_times_2

                               Estádio      Cidade  Mundiais
Corinthians          Arena Neo Química   São Paulo       2.0
Palmeiras                 Allianz Park   São Paulo       NaN
Santos                    Vila Belmiro      Santos       2.0
XV de Piracicaba  Barão da Serra Negra  Piracicaba       NaN
Flamengo                      Maracanã    Maracanã       1.0

In [16]:
df_times_plus

             Mundiais  Libertadores  Fundação
Fluminense        NaN           NaN      1902
Cruzeiro          NaN           2.0      1921
Vasco             NaN           1.0      1898
Corinthians       2.0           1.0      1910

In [18]:
pd.concat([df_times, df_times_plus])

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           NaN      1913
Fluminense             NaN           NaN      1902
Cruzeiro               NaN           2.0      1921
Vasco                  NaN           1.0      1898
Corinthians            2.0           1.0      1910

In [21]:
pd.concat([df_times, df_times_2, df_times_plus])

,Mundiais,Libertadores,Fundação,Estádio,Cidade
Corinthians,2.0,1.0,1910.0,NaN,NaN
Palmeiras,NaN,3.0,1914.0,NaN,NaN
Santos,2.0,3.0,1912.0,NaN,NaN
São Paulo,3.0,3.0,1930.0,NaN,NaN
XV de Piracicaba,NaN,NaN,1913.0,NaN,NaN
Corinthians,2.0,NaN,NaN,Arena Neo Química,São Paulo
Palmeiras,NaN,NaN,NaN,Allianz Park,São Paulo
Santos,2.0,NaN,NaN,Vila Belmiro,Santos
XV de Piracicaba,NaN,NaN,NaN,Barão da Serra Negra,Piracicaba
Flamengo,1.0,NaN,NaN,Maracanã,Maracanã
Fluminense,NaN,NaN,1902.0,NaN,NaN
Cruzeiro,NaN,2.0,1921.0,NaN,NaN
Vasco,NaN,1.0,1898.0,NaN,NaN
Corinthians,2.0,1.0,1910.0,NaN,NaN

In [20]:
pd.concat([df_times, df_times_2], axis=1)

,Mundiais,Libertadores,Fundação,Estádio,Cidade,Mundiais
Corinthians,2.0,1.0,1910.0,Arena Neo Química,São Paulo,2.0
Palmeiras,NaN,3.0,1914.0,Allianz Park,São Paulo,NaN
Santos,2.0,3.0,1912.0,Vila Belmiro,Santos,2.0
São Paulo,3.0,3.0,1930.0,NaN,NaN,NaN
XV de Piracicaba,NaN,NaN,1913.0,Barão da Serra Negra,Piracicaba,NaN
Flamengo,NaN,NaN,NaN,Maracanã,Maracanã,1.0

## Merge

In [22]:
df_paises.head()

  siglas                    pais
0     BD              Bangladesh
1     BE                 Belgium
2     BF            Burkina Faso
3     BG                Bulgaria
4     BA  Bosnia and Herzegovina

In [23]:
df_continentes.head()

  siglas Continentes
0     BD          AS
1     BE          EU
2     BF          AF
3     BG          EU
4     BA          EU

In [31]:
df_dict

    0                 1
0  AS              Asia
1  EU            Europa
2  AF            Africa
3  SA    América do Sul
4  NA  América do Norte
5  AN         Antartica
6  OC           Oceania

In [39]:
df_paises_juntos = df_paises.merge(
    right=df_continentes,
    left_on=["siglas", "continentes"],
    right_on=["siglas", "continentes"]
).copy()

# df_paises_juntos = df_paises_juntos.merge(
#     right=df_dict,
#     left_on="Continentes",
#     right_on=0,
# ).drop(columns=[0])

df_paises_juntos["Continentes Completos"] = df_paises_juntos["Continentes"].map(dict_continentes).fillna("Asia")

df_paises_juntos

    siglas                    pais Continentes Continentes Completos
0       BD              Bangladesh          AS                  Asia
1       BE                 Belgium          EU                Europa
2       BF            Burkina Faso          AF                Africa
3       BG                Bulgaria          EU                Europa
4       BA  Bosnia and Herzegovina          EU                Europa
..     ...                     ...         ...                   ...
245     IE                 Ireland          EU                Europa
246     ID               Indonesia          AS                  Asia
247     UA                 Ukraine          EU                Europa
248     QA                   Qatar          AS                  Asia
249     MZ              Mozambique          AF                Africa

[250 rows x 4 columns]

In [50]:
dict_continentes

{'EU': 'Europa',
 'AF': 'Africa',
 'SA': 'América do Sul',
 'NA': 'América do Norte',
 'AN': 'Antartica',
 'OC': 'Oceania'}

In [40]:
df_times

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           NaN      1913

In [41]:
df_times_2

                               Estádio      Cidade  Mundiais
Corinthians          Arena Neo Química   São Paulo       2.0
Palmeiras                 Allianz Park   São Paulo       NaN
Santos                    Vila Belmiro      Santos       2.0
XV de Piracicaba  Barão da Serra Negra  Piracicaba       NaN
Flamengo                      Maracanã    Maracanã       1.0

In [51]:
df_principal = df_times.merge(
    df_times_2,
    left_index=True,
    right_index=True,
    how="left",
    suffixes=["_esquerda", "_direita"]
)

# df_principal[df_principal["Estádio"].isna()]
df_principal

,Mundiais_esquerda,Libertadores,Fundação,Estádio,Cidade,Mundiais_direita
Corinthians,2.0,1.0,1910,Arena Neo Química,São Paulo,2.0
Palmeiras,NaN,3.0,1914,Allianz Park,São Paulo,NaN
Santos,2.0,3.0,1912,Vila Belmiro,Santos,2.0
São Paulo,3.0,3.0,1930,NaN,NaN,NaN
XV de Piracicaba,NaN,NaN,1913,Barão da Serra Negra,Piracicaba,NaN

##