# 2. DataFrames

DataFrames formam a base do pandas, são diretamente inspirados no R e baseados no pacote NumPy. Um DataFrame pode ser considerado como diversas séries

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

## 2.1 Criação de DataFrames

### Via Python

Os DataFrames podem ser criados pelo python ou importados a partir de um arquivo/base de dados externa, algumas das opções de gerar um DataFrame pelo python são mostradas abaixo:

- A partir de Dicionários
- Matriz do NumPy e nomes de indices e colunas
- Criação a partir de um DataFrame vazio (será mostrado nas próximas seções)

In [3]:
# Criação de colunas com dicionário, as chaves do dicionário serão os nomes das colunas e os valores em formato de lista serão os valores de cada coluna
df_dict = pd.DataFrame(
    data = {
        "Coluna1": [randn(1)[0], randn(1)[0], randn(1)[0], randn(1)[0]],
        "Coluna2": [randn(1)[0], randn(1)[0], randn(1)[0], randn(1)[0]]
    },
    index = ["Corinthians", "Palmeiras", "Santos", "São Paulo"] # Definição de Index
)

# Criação a partir de matriz
df_numpy = pd.DataFrame(
    randn(5, 4), # Matriz de dados
    index = ["A", "B", "C", "D", "E"], # Definição dos index - Opcional
    columns = ["W", "X", "Y", "Z"] # Nome de colunas
)

df_dict

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
Palmeiras    0.628133 -0.319318
Santos       0.907969 -0.848077
São Paulo    0.503826  0.605965

In [4]:
df_numpy # Df criado a partir de matriz do numpy

          W         X         Y         Z
A -2.018168  0.740122  0.528813 -0.589001
B  0.188695 -0.758872 -0.933237  0.955057
C  0.190794  1.978757  2.605967  0.683509
D  0.302665  1.693723 -1.706086 -1.159119
E -0.134841  0.390528  0.166905  0.184502

### Importar arquivos

A importação de arquivos externos são feitas com as funções do tipo pd.read_XYZ(path):
- Com XYZ sendo <em>normalmente</em> o tipo de arquivo;
- e path sendo o caminho do arquivo, podendo ser em string ou formato de path (que não recomendo com exceção de que o fundamento da análise exija algum loop ou função, mas msm assim o caminho por string demonstra-se utilizável;
- o path pode ser inclusíve uma url com o arquivo em questão;

Exemplos de importações de arquivos
- **csv** - **pd.read_csv(path)** - Recomendado para arquivos "pesados" armazenados localmente;
- **xlsx/excel** - **pd.read_excel(path)** - Ler arquivos do excel;
- **json** - **pd.read_json(path)** - Pode ser uma forma de dados que você encontre, bastante utilizada na internet, principalmente em APIs;
- **html** - **pd.read_html(path)** - Obtem tabelas que estão indicadas como "table" em sites/arquivos html;
- **sql** - **pd.read_sql(path)** - Bases/Querys em SQL;
- diversos outros, leia a docs caso tenha interesse - <a href="https://pandas.pydata.org/docs/reference/io.html"> Inputs/Outputs - Pandas </a>

Essas funções tem alguns parâmetros que podem ser úteis na importação, seguem alguns exemplos com o valor default:
- **sep = ","** - usado na **read_csv()**, um arquivo ".csv" não é nada mais que um ".txt" separado por virgulas, caso a separação não seja virgula (CSV Europeu/Brasileiro) podemos usar **sep = ";"**, ou algum outro separador (barras, tabs, hífens, etc.);
- **decimal = "."** - também utilizado na **read_csv()**, define que separador é usado para decimais, caso seja numeros em formato Europeu/Brasileiro use **decimal = ","**;
- **sheet_name = 0** - usado na **read_excel()**, escolhe a aba que será lida, default é a primeira do arquivo, caso utilize **sheet_name = None** o retorno será um dicionário de DataFrames com as chaves sendo as abas, caso utilize **sheet_name = "Nome da Aba"** o retorno será um DataFrame da aba em questão
- **skiprows = 0** - tanto excel quanto csv, pode ser usado para pular as primeiras linhas da tabela se estiverem em branco
- diversos outros, leia a docs caso tenha interesse - <a href="https://pandas.pydata.org/docs/reference/io.html"> Inputs/Outputs - Pandas </a>

In [5]:
path_resultados = "../Dados/Copa/results.csv"

df_resultados = pd.read_csv(path_resultados)
df_resultados.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

## 2.2 Separação e index

In [6]:
# Selecionando apenas uma coluna, perceba que a coluna na verdade é uma série, com esse tipo de seleção
print(type(df_resultados["home_team"]))
df_resultados["home_team"].head()

<class 'pandas.core.series.Series'>

0    Scotland
1     England
2    Scotland
3     England
4    Scotland
Name: home_team, dtype: object

In [7]:
# Selecionando mais de uma coluna, passe uma lista dentro das chaves, com essa seleção o retorno é um DataFrame
df_resultados[["home_team", "home_score"]].head()

  home_team  home_score
0  Scotland           0
1   England           4
2  Scotland           2
3   England           2
4  Scotland           3

In [8]:
# Você pode inclusive usar um list compreension para separar as colunas
df_resultados[[coluna for coluna in df_resultados.columns if "team" in coluna]].head()

  home_team away_team
0  Scotland   England
1   England  Scotland
2  Scotland   England
3   England  Scotland
4  Scotland   England

In [9]:
# Criando nova coluna

df_resultados_aux = df_resultados.copy() # Criando uma cópia do dataframe para fazer testes e não ter que importar dnv para resetá-lo (muito útil caso a importação seja de um dataframe grande)

df_resultados_aux["Versus"] = df_resultados_aux["home_team"] + " Vs " + df_resultados_aux["away_team"]
df_resultados_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Versus
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Scotland Vs England
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England Vs Scotland
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland Vs England
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,England Vs Scotland
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland Vs England

In [10]:
# Removendo colunas
df_resultados_aux.drop("Versus", axis=1).head() # Não é inplace

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [11]:
df_resultados_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Versus
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Scotland Vs England
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England Vs Scotland
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland Vs England
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,England Vs Scotland
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland Vs England

In [12]:
# Removendo colunas inplace

df_resultados_aux.drop(
    "Versus",
    axis=1,
    # inplace=True # Não gosto muito de usar o parâmetro inplace, foge da padronização e fica menos legível
)

df_resultados_aux = df_resultados_aux.drop("Versus", axis=1)
df_resultados_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [13]:
# Removendo linhas

df_resultados_aux.drop(0, axis=0).head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False

In [14]:
# Selecionando linhas

df_resultados_aux.loc[0]

date          1872-11-30
home_team       Scotland
away_team        England
home_score             0
away_score             0
tournament      Friendly
city             Glasgow
country         Scotland
neutral            False
Name: 0, dtype: object

In [15]:
df_dict.loc["Corinthians"]

Coluna1    2.706850
Coluna2    0.651118
Name: Corinthians, dtype: float64

In [16]:
# Caso os indíces não sejam números, vc pode utilizar o iloc para procurar por número

df_resultados_aux.iloc[0]

date          1872-11-30
home_team       Scotland
away_team        England
home_score             0
away_score             0
tournament      Friendly
city             Glasgow
country         Scotland
neutral            False
Name: 0, dtype: object

In [17]:
df_dict.iloc[0]

Coluna1    2.706850
Coluna2    0.651118
Name: Corinthians, dtype: float64

In [18]:
# Selecionando linhas e colunas
df_resultados_aux.loc[
    0, # Grupo de linhas
    "home_team" # Grupo de Colunas
]

'Scotland'

In [19]:
df_resultados_aux.loc[
    [0, 500],
    ["home_team", "away_team"],
]

    home_team away_team
0    Scotland   England
500    Sweden   Denmark

## 2.3 Filtros / Seleção Condicional

Nessa seção iremos observar como a seleção condicional é realizada no pandas (como tudo no pandas, muito similar ao do NumPy), preste bastante atenção nessa seção que é fundamental

In [20]:
df_dict

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
Palmeiras    0.628133 -0.319318
Santos       0.907969 -0.848077
São Paulo    0.503826  0.605965

In [21]:
# Filtro no DataFrame inteiro pode ser utilizado da seguinte forma:
# Esse filtro é raramente utilizado, normalmente fazemos por coluna

df_dict > 0

             Coluna1  Coluna2
Corinthians     True     True
Palmeiras       True    False
Santos          True    False
São Paulo       True     True

In [22]:
# Aplicando o filtro na seleção do DataFrame
# Perceba que os valores < 0 ainda

df_dict[df_dict > 0]

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
Palmeiras    0.628133       NaN
Santos       0.907969       NaN
São Paulo    0.503826  0.605965

In [23]:
# Filtro por coluna

df_dict["Coluna2"] > 0

Corinthians     True
Palmeiras      False
Santos         False
São Paulo       True
Name: Coluna2, dtype: bool

In [24]:
# Aplicando filtro na seleção

df_dict[df_dict["Coluna2"] > 0]

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
São Paulo    0.503826  0.605965

Perceba que foi feita uma "máscara" em formato de série com valores True e False, quando passamos essa seleção no DataFrame, apenas as linhas com True continuam

In [25]:
# Você pode juntar dois ou mais filtros com & (AND/E), | (OR/OU), ~ (NOT/NÃO) e parenteses
# Os filtros de operador são os msms operadores lógicos do python, (==, !=, >, <, >=, <=)

df_dict[(df_dict["Coluna2"] > 0) & (df_dict["Coluna1"] > 1)]

             Coluna1   Coluna2
Corinthians  2.70685  0.651118

In [26]:
df_dict[(df_dict["Coluna2"] > 0) | (df_dict["Coluna1"] > 0.8)]

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
Santos       0.907969 -0.848077
São Paulo    0.503826  0.605965

In [27]:
df_dict[(df_dict["Coluna2"] > 0) & ~(df_dict["Coluna1"] > 1)]

            Coluna1   Coluna2
São Paulo  0.503826  0.605965

Em DataFrames maiores

In [28]:
df_resultados[df_resultados["home_team"] == "Brazil"]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True
477,1917-10-12,Brazil,Chile,5,0,Copa América,Montevideo,Uruguay,True
503,1919-05-11,Brazil,Chile,6,0,Copa América,Rio de Janeiro,Brazil,False
508,1919-05-18,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False
...,...,...,...,...,...,...,...,...,...
44302,2022-11-24,Brazil,Serbia,2,0,FIFA World Cup,Lusail,Qatar,True
44318,2022-11-28,Brazil,Switzerland,1,0,FIFA World Cup,Doha,Qatar,True
44342,2022-12-05,Brazil,South Korea,4,1,FIFA World Cup,Doha,Qatar,True
44640,2023-06-17,Brazil,Guinea,4,1,Friendly,Barcelona,Spain,True
44688,2023-06-20,Brazil,Senegal,2,4,Friendly,Lisbon,Portugal,True

In [29]:
df_resultados[(df_resultados["home_team"] == "Brazil") & (df_resultados["away_team"] == "Argentina") & (df_resultados["country"] == "Brazil")]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
508,1919-05-18,Brazil,Argentina,3,1,Copa América,Rio de Janeiro,Brazil,False
515,1919-06-01,Brazil,Argentina,3,3,Friendly,Rio de Janeiro,Brazil,False
673,1922-10-15,Brazil,Argentina,2,0,Copa América,Rio de Janeiro,Brazil,False
678,1922-10-22,Brazil,Argentina,2,1,Copa Roca,São Paulo,Brazil,False
2189,1939-01-15,Brazil,Argentina,1,5,Copa Roca,Rio de Janeiro,Brazil,False
2192,1939-01-22,Brazil,Argentina,3,2,Copa Roca,Rio de Janeiro,Brazil,False
2275,1940-02-18,Brazil,Argentina,2,2,Copa Roca,São Paulo,Brazil,False
2278,1940-02-25,Brazil,Argentina,0,3,Copa Roca,São Paulo,Brazil,False
2565,1945-12-16,Brazil,Argentina,3,4,Copa Roca,São Paulo,Brazil,False
2566,1945-12-20,Brazil,Argentina,6,2,Copa Roca,Rio de Janeiro,Brazil,False
2567,1945-12-23,Brazil,Argentina,3,1,Copa Roca,Rio de Janeiro,Brazil,False
4204,1957-07-07,Brazil,Argentina,1,2,Copa Roca,Rio de Janeiro,Brazil,False
4207,1957-07-10,Brazil,Argentina,2,0,Copa Roca,São Paulo,Brazil,False
4753,1960-07-12,Brazil,Argentina,5,1,Atlantic Cup,Rio de Janeiro,Brazil,False
5400,1963-04-13,Brazil,Argentina,2,3,Copa Roca,São Paulo,Brazil,False
5401,1963-04-16,Brazil,Argentina,5,2,Copa Roca,Rio de Janeiro,Brazil,False
5651,1964-06-03,Brazil,Argentina,0,3,Friendly,São Paulo,Brazil,False
5912,1965-06-09,Brazil,Argentina,0,0,Friendly,Rio de Janeiro,Brazil,False
6910,1968-08-07,Brazil,Argentina,4,1,Friendly,Rio de Janeiro,Brazil,False
6914,1968-08-11,Brazil,Argentina,3,2,Friendly,Belo Horizonte,Brazil,False
7499,1970-03-04,Brazil,Argentina,0,2,Friendly,Porto Alegre,Brazil,False
7501,1970-03-08,Brazil,Argentina,2,1,Friendly,Rio de Janeiro,Brazil,False
9637,1975-08-06,Brazil,Argentina,2,1,Copa América,Belo Horizonte,Brazil,False
9927,1976-05-19,Brazil,Argentina,2,0,Copa Roca,Rio de Janeiro,Brazil,False
11196,1979-08-02,Brazil,Argentina,2,1,Copa América,Rio de Janeiro,Brazil,False
13059,1983-09-14,Brazil,Argentina,0,0,Copa América,Rio de Janeiro,Brazil,False
13379,1984-06-17,Brazil,Argentina,0,0,Friendly,São Paulo,Brazil,False
13998,1985-05-05,Brazil,Argentina,2,1,Friendly,Salvador,Brazil,False
15962,1989-07-12,Brazil,Argentina,2,0,Copa América,Rio de Janeiro,Brazil,False
16866,1991-06-27,Brazil,Argentina,1,1,Friendly,Curitiba,Brazil,False
18552,1994-03-23,Brazil,Argentina,2,0,Friendly,Recife,Brazil,False
21579,1998-04-29,Brazil,Argentina,0,1,Friendly,Rio de Janeiro,Brazil,False
22621,1999-09-07,Brazil,Argentina,4,2,Friendly,Porto Alegre,Brazil,False
23504,2000-07-26,Brazil,Argentina,3,1,FIFA World Cup qualification,São Paulo,Brazil,False
26933,2004-06-02,Brazil,Argentina,3,1,FIFA World Cup qualification,Belo Horizonte,Brazil,False
30765,2008-06-18,Brazil,Argentina,0,0,FIFA World Cup qualification,Belo Horizonte,Brazil,False
33883,2011-09-28,Brazil,Argentina,2,0,Superclásico de las Américas,Belém,Brazil,False
34874,2012-09-19,Brazil,Argentina,2,1,Superclásico de las Américas,Goiânia,Brazil,False
38903,2016-11-10,Brazil,Argentina,3,0,FIFA World Cup qualification,Belo Horizonte,Brazil,False
41380,2019-07-02,Brazil,Argentina,2,0,Copa América,Belo Horizonte,Brazil,False
42870,2021-07-10,Brazil,Argentina,0,1,Copa América,Rio de Janeiro,Brazil,False

In [30]:
# O resultado do filtro é um DataFrame, você pode continuar selecionando colunas a partir do filtro

df_resultados[(df_resultados["home_team"] == "Brazil") & (df_resultados["away_team"] == "Argentina") & (df_resultados["country"] == "Brazil")]["city"]

508      Rio de Janeiro
515      Rio de Janeiro
673      Rio de Janeiro
678           São Paulo
2189     Rio de Janeiro
2192     Rio de Janeiro
2275          São Paulo
2278          São Paulo
2565          São Paulo
2566     Rio de Janeiro
2567     Rio de Janeiro
4204     Rio de Janeiro
4207          São Paulo
4753     Rio de Janeiro
5400          São Paulo
5401     Rio de Janeiro
5651          São Paulo
5912     Rio de Janeiro
6910     Rio de Janeiro
6914     Belo Horizonte
7499       Porto Alegre
7501     Rio de Janeiro
9637     Belo Horizonte
9927     Rio de Janeiro
11196    Rio de Janeiro
13059    Rio de Janeiro
13379         São Paulo
13998          Salvador
15962    Rio de Janeiro
16866          Curitiba
18552            Recife
21579    Rio de Janeiro
22621      Porto Alegre
23504         São Paulo
26933    Belo Horizonte
30765    Belo Horizonte
33883             Belém
34874           Goiânia
38903    Belo Horizonte
41380    Belo Horizonte
42870    Rio de Janeiro
Name: city, dtype: object

In [31]:
# Também é possível comparar colunas no filtro
(df_resultados["away_team"] == df_resultados["country"]).head() # Separando os jogos que o time visitante jogou em seu país

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [32]:
df_resultados[df_resultados["away_team"] == df_resultados["country"]]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
785,1924-03-13,Catalonia,Spain,0,7,Friendly,Barcelona,Spain,False
1615,1933-10-04,Silesia,Poland,1,2,Friendly,Katowice,Poland,False
1647,1934-02-02,Catalonia,Spain,0,2,Friendly,Barcelona,Spain,False
2753,1947-10-19,Catalonia,Spain,3,1,Friendly,Barcelona,Spain,False
3486,1953-04-26,Silesia,Poland,2,3,Friendly,Chorzów,Poland,False
3526,1953-08-09,Catalonia,Spain,0,6,Friendly,Barcelona,Spain,False
3539,1953-09-13,Silesia,Poland,3,3,Friendly,Byton,Poland,False
29242,2006-12-09,Silesia,Poland,1,1,Friendly,Chorzów,Poland,False

In [33]:
## Também é possível utilizar funções nos filtros

df_resultados["home_team"].isin(["Brazil", "Argentina"]).head() # Essa função retorna true caso o país esteja na lista

0    False
1    False
2    False
3    False
4    False
Name: home_team, dtype: bool

In [34]:
df_resultados[df_resultados["home_team"].isin(["Brazil", "Argentina"])][["home_team", "away_team", "tournament"]]

       home_team  away_team                   tournament
155    Argentina    Uruguay                     Friendly
177    Argentina    Uruguay                  Copa Lipton
190    Argentina    Uruguay                  Copa Newton
226    Argentina    Uruguay                  Copa Newton
227    Argentina    Uruguay  Copa Premio Honor Argentino
...          ...        ...                          ...
44402  Argentina     Panama                     Friendly
44530  Argentina    Curaçao                     Friendly
44603  Argentina  Australia                     Friendly
44640     Brazil     Guinea                     Friendly
44688     Brazil    Senegal                     Friendly

[1174 rows x 3 columns]

Para usar pandas/python em análise de dados como ferramente principal é de fundamental importancia que vc esteja *MUITO CONFORTÁVEL* com filtros/seleção, separe um tempo e faça testes com os filtros por conta própria, caso necessário, leia novamente a seção anterior, qualquer dúvida pode me procurar

## 2.4 Operações com Index

Algumas operações com index são mostradas abaixo, tenho o costume de utilizar mais filtro em colunas, porém há operações úteis com index

In [35]:
df_dict

              Coluna1   Coluna2
Corinthians  2.706850  0.651118
Palmeiras    0.628133 -0.319318
Santos       0.907969 -0.848077
São Paulo    0.503826  0.605965

Nenhuma das mudanças abaixo são inplace, caso queira use reassing:
df_dict = df_dict.reset_index()

In [36]:
# resetar o indíce
df_dict.reset_index()
# perceba que o índice anterior virou uma coluna chamada "index"

         index   Coluna1   Coluna2
0  Corinthians  2.706850  0.651118
1    Palmeiras  0.628133 -0.319318
2       Santos  0.907969 -0.848077
3    São Paulo  0.503826  0.605965

In [37]:
df_dict.reset_index(drop=True) # Também é possível resetar o index sem manter o anterior

    Coluna1   Coluna2
0  2.706850  0.651118
1  0.628133 -0.319318
2  0.907969 -0.848077
3  0.503826  0.605965

In [38]:
novo_indice = ["Timão", "Porco", "Peixe", "Trikas"]

In [39]:
df_dict_aux = df_dict.copy()
df_dict_aux["Apelido"] = novo_indice
df_dict_aux

              Coluna1   Coluna2 Apelido
Corinthians  2.706850  0.651118   Timão
Palmeiras    0.628133 -0.319318   Porco
Santos       0.907969 -0.848077   Peixe
São Paulo    0.503826  0.605965  Trikas

In [40]:
df_dict_aux.set_index("Apelido")

          Coluna1   Coluna2
Apelido
Timão    2.706850  0.651118
Porco    0.628133 -0.319318
Peixe    0.907969 -0.848077
Trikas   0.503826  0.605965

## 2.5 Tratando dados Nulos

Analisando dados você terá diversas incertezas, porém uma coisa é sempre certa:
Vai se deparar com uma base incompleta

Assim é interessante que tenha conhecimento de que soluções podem ser realizadas pelo python

In [54]:
df_campeonatos = pd.DataFrame(
    {
        "Mundiais": [2, np.nan, 2, 3, np.nan],
        "Libertadores": [1, 3, 3, 3, np.nan],
        "Fundação": [1910, 1914, 1912, 1930, 1913]
    },
    index=["Corinthians", "Palmeiras", "Santos", "São Paulo", "XV de Piracicaba"]
)

df_campeonatos

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              NaN           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       NaN           NaN      1913

In [55]:
df_campeonatos.dropna() # Removendo linhas com valores nulos

             Mundiais  Libertadores  Fundação
Corinthians       2.0           1.0      1910
Santos            2.0           3.0      1912
São Paulo         3.0           3.0      1930

In [56]:
df_campeonatos.dropna(axis=1) # Removendo colunas com valores nulos

                  Fundação
Corinthians           1910
Palmeiras             1914
Santos                1912
São Paulo             1930
XV de Piracicaba      1913

In [60]:
df_campeonatos.dropna(thresh=2) # thresh vem de threshold, no caso define o mínimo de valores não nulos que precisam existir para que a linha não seja descartada

             Mundiais  Libertadores  Fundação
Corinthians       2.0           1.0      1910
Palmeiras         NaN           3.0      1914
Santos            2.0           3.0      1912
São Paulo         3.0           3.0      1930

In [63]:
df_campeonatos.fillna(value=0) # Você pode também escolher um fillvalue para os valores nulos

                  Mundiais  Libertadores  Fundação
Corinthians            2.0           1.0      1910
Palmeiras              0.0           3.0      1914
Santos                 2.0           3.0      1912
São Paulo              3.0           3.0      1930
XV de Piracicaba       0.0           0.0      1913

In [65]:
df_campeonatos["Libertadores"].fillna(value=df_campeonatos["Libertadores"].mean()) # Inclusíve é possível colocar a média da coluna, ou outras funções, como fill value

Corinthians         1.0
Palmeiras           3.0
Santos              3.0
São Paulo           3.0
XV de Piracicaba    2.5
Name: Libertadores, dtype: float64

Em resumo quando deparado com valores incompletos você pode ignorar, remover ou substituir qual é o melhor caso depende fundamentalmente da base e projeto em questão, assim é muito útil saber usar os 3

## 2.6 Multi-Index - (Opcional)

Multi-index pode ser utilizado para filtros/seleção, tenho o costume de colocar tudo em colunas com .reset_index() e usar os filtros comentados na seção interior, porém fica a documentação

In [41]:
# Nívei de índice
exterior = ["Corinthians", "Flamengo", "Corinthians", "Flamengo"]
interior = ["Mundiais", "Mundiais", "Libertadores", "Libertadores"]
multi_index = list(zip(exterior, interior)) # Criando lista de tuplas
multi_index

[('Corinthians', 'Mundiais'),
 ('Flamengo', 'Mundiais'),
 ('Corinthians', 'Libertadores'),
 ('Flamengo', 'Libertadores')]

In [42]:
multi_index = pd.MultiIndex.from_tuples(multi_index)
multi_index

MultiIndex([('Corinthians',     'Mundiais'),
            (   'Flamengo',     'Mundiais'),
            ('Corinthians', 'Libertadores'),
            (   'Flamengo', 'Libertadores')],
           )

In [43]:
df = pd.DataFrame(
    np.array(
        [
            [2, "2000, 2012"],
            [1, "1981"],
            [1, "2012"],
            [3, "1981, 2019, 2022"]
        ]
    ),
    index=multi_index,
    columns=["Qtd.", "Anos"]
)
df.index.names = ["Times", "Campeonatos"] # Nomeando indíces
df

                         Qtd.              Anos
Times       Campeonatos
Corinthians Mundiais        2        2000, 2012
Flamengo    Mundiais        1              1981
Corinthians Libertadores    1              2012
Flamengo    Libertadores    3  1981, 2019, 2022

Com o DataFrame criado é possível utilizar loc para navegar pelos índices

In [44]:
df.loc["Corinthians"]

             Qtd.        Anos
Campeonatos
Mundiais        2  2000, 2012
Libertadores    1        2012

In [45]:
df.loc["Corinthians"].loc["Mundiais"]

Qtd.             2
Anos    2000, 2012
Name: Mundiais, dtype: object

Para multi-índices a ideia de usar o cross section (xs) é melhor utilizado, segue os exemplos

In [46]:
df.xs("Corinthians")

             Qtd.        Anos
Campeonatos
Mundiais        2  2000, 2012
Libertadores    1        2012

In [47]:
df.xs(("Corinthians", "Mundiais"))

Qtd.             2
Anos    2000, 2012
Name: (Corinthians, Mundiais), dtype: object

In [48]:
df.xs("Mundiais", level="Campeonatos")

            Qtd.        Anos
Times
Corinthians    2  2000, 2012
Flamengo       1        1981