# 7. Exercícios

#### 1. Importe pandas

In [2]:
import pandas as pd

#### 2. Leia a tabela com os resultados de seleção

Use a variável df_resultados e mostre as 5 primeiras linhas

In [3]:
path_resultados = "../dados/Copa/results.csv"
df_resultados = pd.read_csv(path_resultados)
df_resultados.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

#### 3. Perguntas rápidas:

##### 3.1. Qual a maior quantia de gols que um time mandante fez? E a maior quantia que um time visitante marcou?

In [4]:
df_resultados["home_score"].max()

31

In [5]:
df_resultados["away_score"].max()

21

##### 3.2 Quais foram esses jogos?

In [6]:
df_resultados[df_resultados["home_score"] == 31]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
24160,2001-04-11,Australia,American Samoa,31,0,FIFA World Cup qualification,Coffs Harbour,Australia,False

In [7]:
df_resultados[df_resultados["away_score"] == 21]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
27753,2005-03-11,Guam,North Korea,0,21,EAFF Championship,Taipei,Taiwan,True

#### 4. Crie colunas

##### 4.1. Primeiramente crie um dataframe auxiliar, para que não precise importar caso faça algo errado

In [8]:
df_paises = df_resultados.copy()
df_paises.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

##### 4.2 Crie uma coluna com a quantia total de gols em cada partida, chamada "total_goals"

In [10]:
df_paises["total_goals"] = df_paises["home_score"] + df_paises["away_score"]
df_paises.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3

##### 4.3 Crie uma coluna indicando se o time mandante ganhou o jogo retornando true ou false chamada "win?"

In [11]:
df_paises["Win?"] = df_paises["home_score"] > df_paises["away_score"]
df_paises.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Win?
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,True
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3,True
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,True

##### 4.4 Coluna que indica se virou passeio, se diferença de gols entre os times >= 4 retorne True na coluna "Passeio?"

Caso precise de ajuda com módulo, consulte a <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.abs.html"> biblioteca </a>

In [14]:
df_paises["Passeio?"] = (df_paises["home_score"] - df_paises["away_score"]).abs()
df_paises["Passeio?"] = df_paises["Passeio?"] >= 4
df_paises.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Win?,Passeio?
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,False,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,True,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3,True,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,False,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,True,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,4,True,True
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,4,False,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,2,False,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,9,True,True
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,9,True,True

##### 4.5 Coluna que indica se o time da casa Ganhou, Perdeu ou empatou, chamada "result"

In [16]:
def home_win(gols_casa, gols_visi):
    if gols_casa > gols_visi:
        return "Ganhou"
    elif gols_visi == gols_casa:
        return "Empatou"
    else:
        return "Perdeu"

df_paises["result"] = df_paises.apply(lambda x: home_win(x["home_score"], x["away_score"]), axis=1)
df_paises

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Win?,Passeio?,result
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0,False,False,Empatou
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6,True,False,Ganhou
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3,True,False,Ganhou
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4,False,False,Empatou
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3,True,False,Ganhou
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44757,2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False,4,False,False,Empatou
44758,2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False,2,False,False,Empatou
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True,3,False,False,Perdeu
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False,3,True,False,Ganhou
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True,1,True,False,Ganhou

#### 5. Perguntas rápidas

##### 5.1 Quantas vz o time vencedor foi o mandante?

In [17]:
df_paises["Win?"].sum()

21797

##### 5.2 Faça uma tabela dinâmica contando linhas, com resultado no índice e passeio nas colunas. Chame o DF novo de df_paises_pt

In [19]:
df_paises_pt = df_paises.pivot_table(index="result", values="city", columns="Passeio?", aggfunc="count")
df_paises_pt = df_paises_pt.fillna(0)
df_paises_pt

Passeio?    False   True
result
Empatou   10294.0     0.0
Ganhou    18023.0  3774.0
Perdeu    11196.0  1475.0

##### 5.3 Quantas vezes Galvão falou "Virou passeio!!!"?

In [21]:
df_paises_pt[True].sum()

5249.0

##### 5.4 Plote estatísticas sobre a quantia de gols nos jogos do Brasil

In [22]:
df_paises_aux = df_paises[(df_paises["home_team"] == "Brazil") | (df_paises["away_team"] == "Brazil")]
df_paises_aux.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_goals,Win?,Passeio?,result
410,1914-09-20,Argentina,Brazil,3,0,Friendly,Buenos Aires,Argentina,False,3,True,False,Ganhou
411,1914-09-27,Argentina,Brazil,0,1,Copa Roca,Buenos Aires,Argentina,False,1,False,False,Perdeu
441,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,2,False,False,Empatou
442,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False,2,False,False,Empatou
444,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,3,False,False,Perdeu

In [23]:
df_paises_aux["total_goals"].describe()

count    1026.000000
mean        3.088694
std         2.025912
min         0.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        12.000000
Name: total_goals, dtype: float64

##### 5.5 Quantas vezes o Brasil ganhou, perdeu ou empatou jogos?

In [29]:
# Observando como mandante

df_paises_brasilMandante = df_paises[df_paises["home_team"] == "Brazil"].copy()
df_paises_brasilMandante = df_paises_brasilMandante.pivot_table(index="result", values="home_team", aggfunc="count").reset_index()
df_paises_brasilMandante

    result  home_team
0  Empatou        110
1   Ganhou        428
2   Perdeu         59

In [32]:
# Observando como visitante

df_paises_brasilVisitante = df_paises[df_paises["away_team"] == "Brazil"].copy()
df_paises_brasilVisitante = df_paises_brasilVisitante.pivot_table(index="result", values="home_team", aggfunc="count").reset_index()
df_paises_brasilVisitante["result"] = df_paises_brasilVisitante["result"].replace(["Ganhou", "Perdeu"], ["Perdeu", "Ganhou"])
df_paises_brasilVisitante

    result  home_team
0  Empatou         96
1   Perdeu        104
2   Ganhou        229

In [35]:
df_paises_resultadosBrasil = df_paises_brasilMandante.copy()
df_paises_resultadosBrasil["home_team"] = df_paises_resultadosBrasil["home_team"] + df_paises_brasilVisitante["home_team"]
df_paises_resultadosBrasil

    result  home_team
0  Empatou        206
1   Ganhou        532
2   Perdeu        288

##### 5.6 E em porcentagem de jogos?

In [52]:
df_paises_resultadosBrasil["pct"] = df_paises_resultadosBrasil["home_team"]/df_paises_resultadosBrasil["home_team"].sum()
df_paises_resultadosBrasil["pct"] = (df_paises_resultadosBrasil["pct"]*100).astype(str).str[0:5] + " %"
df_paises_resultadosBrasil

    result  home_team      pct
0  Empatou        206  20.07 %
1   Ganhou        532  51.85 %
2   Perdeu        288  28.07 %

#### 6 Merge

##### 6.1 Importe os .json(): continent e names da pasta dados/Países em dois dataframes

##### 6.2 Una os dois dataframes

##### 6.3 Crie uma coluna chamada "Continente" que representa o continente onde a partida foi jogada

##### 6.4 Há valores nulos? Trate-os

#### 7 Perguntas não tão rápidas

##### 7.1 Quantas seleções únicas ja jogaram como mandante?

##### 7.2 Quantas seleções únicas estão na bases (mandante e visitante)?

##### 7.3 Faça uma tabela indicando as vitórias empates e derrotas do Brasil em cada continente jogado

##### 7.4 Crie uma coluna ano representando o ano em que foi jogado

##### 7.5 Filtrando apenas de 1958 para frente, como ficam as estatísticas do Brasil? E 1957 para trás?

##### 7.6 Exporte essas tabelas como after_pele.xlsx e before_pele.xlsx para a pasta "outputs"

##### 7.7 Crie um excel template e exporte a tabela indicando as estatísticas do Brasil por continente