# 3. Dataframes - Tabelas Dinâmicas

Como ja devem ter visto no excel, tabelas dinâmicas se demonstram muito úteis para obter análises rápidas. No tutorial abaixo olharemos 2 formas de realizar as tabelas dinâmicas pelo python (.pivot_table() e .groupby())

In [1]:
import pandas as pd
import numpy as np

In [2]:
path_resultados = "Copa/results.csv"

df_resultados = pd.read_csv(path_resultados)
df_resultados.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

## 3.1 .pivot_table()

A função .pivot_table() pode ser aplicada a dataframes para realizar a tabela dinâmica

In [10]:
df_resultados.pivot_table(
    index = "home_team", # O que seria linhas/rows na dinâmica do excel Default=None,
    columns = None, # As colunas da tabela dinâmica Default=None,
    values = "home_score", # Os valores que refereciam aos index, ou index+coluna Defaul=None,
    aggfunc = "sum", # O agregador dos valores, mais utilizados : "mean", "sum", "count", "max", "min", é possível utilizar qualquer função do python/NumPy Defaul="mean",
).sort_values("home_score", ascending=False).head()

           home_score
home_team
Brazil           1476
Germany          1308
Argentina        1274
England          1214
Sweden           1178

In [11]:
df_resultados.pivot_table(index = "home_team", values = ["home_score", "away_score"], aggfunc = "sum").sort_values("home_score", ascending=False)[["home_score", "away_score"]].head()

           home_score  away_score
home_team
Brazil           1476         486
Germany          1308         554
Argentina        1274         490
England          1214         465
Sweden           1178         576

In [23]:
df_resultados[(df_resultados["home_team"].isin(["Argentina", "Brazil", "Germany"])) & (df_resultados["away_team"].isin(["Argentina", "Brazil", "Germany"]))].pivot_table(
    index="home_team",
    columns="away_team",
    values="date",
    aggfunc="count"
)

away_team  Argentina  Brazil  Germany
home_team
Argentina        NaN    59.0      9.0
Brazil          49.0     NaN     10.0
Germany         14.0    13.0      NaN

In [30]:
df_resultados.pivot_table(index="home_team")
# Quando realizado para todos valores, o pandas está dando um aviso que no futuro isso tende a criar um erro para as colunas que não é possível realizar agregações (não são numéricas), caso isso aconteça, selecione apenas as colunas de índice e numéricas utilizadas

C:\Users\rickk\AppData\Local\Temp\ipykernel_22420\2346061920.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_resultados.pivot_table(index="home_team")

               away_score  home_score   neutral
home_team
Abkhazia         0.611111    2.000000  0.666667
Afghanistan      1.547619    1.285714  0.857143
Albania          1.130208    1.130208  0.109375
Alderney         3.857143    0.714286  1.000000
Algeria          0.849359    1.855769  0.330128
...                   ...         ...       ...
Yugoslavia       1.242105    2.310526  0.036842
Zambia           0.857585    1.897833  0.226006
Zanzibar         1.724138    1.086207  0.500000
Zimbabwe         0.935644    1.564356  0.138614
Åland Islands    1.518519    1.740741  0.666667

[311 rows x 3 columns]

In [24]:
df_resultados.pivot_table(index="home_team", aggfunc="describe")

              away_score                                                 \
                     25%  50%  75%  count  max      mean  min       std
home_team
Abkhazia             0.0  0.5  1.0   18.0  2.0  0.611111  0.0  0.697802
Afghanistan          0.0  1.0  2.0   42.0  6.0  1.547619  0.0  1.655772
Albania              0.0  1.0  2.0  192.0  5.0  1.130208  0.0  1.106253
Alderney             3.0  3.0  4.5    7.0  6.0  3.857143  3.0  1.214986
Algeria              0.0  1.0  1.0  312.0  5.0  0.849359  0.0  0.945322
...                  ...  ...  ...    ...  ...       ...  ...       ...
Yugoslavia           0.0  1.0  2.0  190.0  6.0  1.242105  0.0  1.244805
Zambia               0.0  1.0  1.0  323.0  5.0  0.857585  0.0  0.964347
Zanzibar             1.0  1.0  3.0   58.0  7.0  1.724138  0.0  1.587154
Zimbabwe             0.0  1.0  1.0  202.0  5.0  0.935644  0.0  1.070089
Åland Islands        1.0  1.0  2.0   27.0  5.0  1.518519  0.0  1.311792

              home_score
                     25%  50%  75%  count   max      mean  min       std
home_team
Abkhazia             1.0  1.5  2.0   18.0   9.0  2.000000  0.0  2.275186
Afghanistan          0.0  1.0  2.0   42.0   5.0  1.285714  0.0  1.330427
Albania              0.0  1.0  2.0  192.0   6.0  1.130208  0.0  1.166156
Alderney             0.0  0.0  1.5    7.0   2.0  0.714286  0.0  0.951190
Algeria              1.0  1.0  3.0  312.0  15.0  1.855769  0.0  1.718548
...                  ...  ...  ...    ...   ...       ...  ...       ...
Yugoslavia           1.0  2.0  3.0  190.0   9.0  2.310526  0.0  1.955428
Zambia               1.0  2.0  3.0  323.0  11.0  1.897833  0.0  1.667769
Zanzibar             0.0  1.0  2.0   58.0   6.0  1.086207  0.0  1.274369
Zimbabwe             1.0  1.0  2.0  202.0   6.0  1.564356  0.0  1.284549
Åland Islands        0.5  2.0  3.0   27.0   4.0  1.740741  0.0  1.347151

[311 rows x 16 columns]

## 3.2 .groupby()

A função .pivot_table() é escrita em cima do .groupby() que veio antes, eu normalmente dou preferência ao .pivot_table() por ser mais simples e mais fácil de ler, porém é possível obter os mesmos resultados com a .groupby().

O parâmetro .groupby() não possuí algo semelhante ao parâmetro "columns" do .pivot_table() sendo a principal diferença prática entre eles, caso queira algo do tipo seria utilizando um .merge() - função que veremos no próximo capítulo - porém, vai por mim

In [31]:
df_resultados.groupby("home_team").mean()
# Quando realizado para todos valores, o pandas está dando um aviso que no futuro isso tende a criar um erro para as colunas que não é possível realizar agregações (não são numéricas), caso isso aconteça, selecione apenas as colunas de índice e numéricas utilizadas

C:\Users\rickk\AppData\Local\Temp\ipykernel_22420\3570311889.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_resultados.groupby("home_team").mean()

               home_score  away_score   neutral
home_team
Abkhazia         2.000000    0.611111  0.666667
Afghanistan      1.285714    1.547619  0.857143
Albania          1.130208    1.130208  0.109375
Alderney         0.714286    3.857143  1.000000
Algeria          1.855769    0.849359  0.330128
...                   ...         ...       ...
Yugoslavia       2.310526    1.242105  0.036842
Zambia           1.897833    0.857585  0.226006
Zanzibar         1.086207    1.724138  0.500000
Zimbabwe         1.564356    0.935644  0.138614
Åland Islands    1.740741    1.518519  0.666667

[311 rows x 3 columns]

In [16]:
df_resultados.groupby("home_team").describe()

              home_score                                                \
                   count      mean       std  min  25%  50%  75%   max
home_team
Abkhazia            18.0  2.000000  2.275186  0.0  1.0  1.5  2.0   9.0
Afghanistan         42.0  1.285714  1.330427  0.0  0.0  1.0  2.0   5.0
Albania            192.0  1.130208  1.166156  0.0  0.0  1.0  2.0   6.0
Alderney             7.0  0.714286  0.951190  0.0  0.0  0.0  1.5   2.0
Algeria            312.0  1.855769  1.718548  0.0  1.0  1.0  3.0  15.0
...                  ...       ...       ...  ...  ...  ...  ...   ...
Yugoslavia         190.0  2.310526  1.955428  0.0  1.0  2.0  3.0   9.0
Zambia             323.0  1.897833  1.667769  0.0  1.0  2.0  3.0  11.0
Zanzibar            58.0  1.086207  1.274369  0.0  0.0  1.0  2.0   6.0
Zimbabwe           202.0  1.564356  1.284549  0.0  1.0  1.0  2.0   6.0
Åland Islands       27.0  1.740741  1.347151  0.0  0.5  2.0  3.0   4.0

              away_score
                   count      mean       std  min  25%  50%  75%  max
home_team
Abkhazia            18.0  0.611111  0.697802  0.0  0.0  0.5  1.0  2.0
Afghanistan         42.0  1.547619  1.655772  0.0  0.0  1.0  2.0  6.0
Albania            192.0  1.130208  1.106253  0.0  0.0  1.0  2.0  5.0
Alderney             7.0  3.857143  1.214986  3.0  3.0  3.0  4.5  6.0
Algeria            312.0  0.849359  0.945322  0.0  0.0  1.0  1.0  5.0
...                  ...       ...       ...  ...  ...  ...  ...  ...
Yugoslavia         190.0  1.242105  1.244805  0.0  0.0  1.0  2.0  6.0
Zambia             323.0  0.857585  0.964347  0.0  0.0  1.0  1.0  5.0
Zanzibar            58.0  1.724138  1.587154  0.0  1.0  1.0  3.0  7.0
Zimbabwe           202.0  0.935644  1.070089  0.0  0.0  1.0  1.0  5.0
Åland Islands       27.0  1.518519  1.311792  0.0  1.0  1.0  2.0  5.0

[311 rows x 16 columns]