# 5. Funções em DataFrames

In [5]:
import pandas as pd
import numpy as np

Agora que sabemos manipular DataFrames, ajeitar as tabelas de forma que sejam utilizáveis, partiremos para algumas funções úteis para suas análises no pandas, além de aprender como exportar as tabelas criadas no python.

Esse notebook pode ser também usado como uma referência/biblioteca quando estiver codando, **talvez** eu vá colocando mais fórmulas úteis aqui conforme eu vá lembrando.

Lembrando que as funções dessa seção compreendem apenas analises exclusivas do pandas, a análise de dados feita apenas com o pandas/tabelas as vezes não é suficiente (necessitando de gráficos, mapas, modelos de IA ou outras ferramentas para realizar uma análise completa, no treinamento dessa semana serão vistas análises tanto com gráficos quanto mapas com o python)

## 5.1 Valores únicos

In [73]:
path_resultados = "Copa/results.csv"
df_resultados = pd.read_csv(path_resultados)
df_resultados_small = df_resultados.iloc[0:20] # .iloc visto na seção 2.2
df_resultados.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [11]:
df_resultados["home_team"].unique()

array(['Scotland', 'England', 'Wales', 'Northern Ireland',
       'United States', 'Uruguay', 'Austria', 'Hungary', 'Argentina',
       'Belgium', 'France', 'Netherlands', 'Czechoslovakia',
       'Switzerland', 'Sweden', 'Germany', 'Italy', 'Chile', 'Norway',
       'Finland', 'Luxembourg', 'Russia', 'Denmark', 'Catalonia',
       'Basque Country', 'Brazil', 'Japan', 'Paraguay', 'Canada',
       'Estonia', 'Costa Rica', 'Guatemala', 'Spain', 'Brittany',
       'Poland', 'Yugoslavia', 'New Zealand', 'Romania', 'Latvia',
       'Galicia', 'Portugal', 'Andalusia', 'China PR', 'Australia',
       'Lithuania', 'Turkey', 'Central Spain', 'Mexico', 'Aruba', 'Egypt',
       'Haiti', 'Philippines', 'Bulgaria', 'Jamaica', 'Kenya', 'Bolivia',
       'Peru', 'Honduras', 'Guyana', 'Uganda', 'Belarus', 'El Salvador',
       'Barbados', 'Republic of Ireland', 'Trinidad and Tobago', 'Greece',
       'Curaçao', 'Dominica', 'Silesia', 'Guadeloupe', 'Israel',
       'Suriname', 'French Guiana', 'Cuba', 'Colombia', 'Ecuador',
       'Saint Kitts and Nevis', 'Panama', 'Slovakia', 'Manchukuo',
       'Croatia', 'Nicaragua', 'Afghanistan', 'India', 'Martinique',
       'Zimbabwe', 'Iceland', 'Albania', 'Venezuela', 'Madagascar',
       'Zambia', 'Mauritius', 'Tanzania', 'Iran', 'Djibouti', 'DR Congo',
       'Vietnam', 'Macau', 'Ethiopia', 'Puerto Rico', 'Réunion',
       'Sierra Leone', 'Zanzibar', 'South Korea', 'Ghana', 'South Africa',
       'New Caledonia', 'Fiji', 'Nigeria', 'Myanmar', 'Sri Lanka',
       'Tahiti', 'Gambia', 'Hong Kong', 'Singapore', 'Malaysia',
       'Indonesia', 'Guinea-Bissau', 'German DR', 'Vanuatu', 'Kernow',
       'Saarland', 'Cambodia', 'Lebanon', 'Pakistan', 'Vietnam Republic',
       'North Korea', 'Togo', 'Sudan', 'Malta', 'Syria', 'Tunisia',
       'Malawi', 'Morocco', 'Benin', 'Cameroon',
       'Central African Republic', 'Gabon', 'Ivory Coast', 'Congo',
       'Mali', 'North Vietnam', 'Mongolia', 'Taiwan', 'Cyprus', 'Iraq',
       'Saint Lucia', 'Grenada', 'Thailand', 'Senegal', 'Libya', 'Guinea',
       'Algeria', 'Kuwait', 'Jordan', 'Solomon Islands', 'Liberia',
       'Laos', 'Saint Vincent and the Grenadines', 'Bermuda', 'Niger',
       'Montenegro', 'Palestine', 'Bahrain', 'Papua New Guinea',
       'Burkina Faso', 'Mauritania', 'Saudi Arabia', 'Eswatini',
       'Western Australia', 'Somalia', 'Lesotho', 'Cook Islands', 'Qatar',
       'Antigua and Barbuda', 'Faroe Islands', 'Bangladesh', 'Yemen',
       'Oman', 'Yemen DPR', 'Burundi', 'Mozambique', 'Guam', 'Chad',
       'Angola', 'Dominican Republic', 'Seychelles', 'Rwanda',
       'São Tomé and Príncipe', 'Botswana', 'Northern Cyprus',
       'Cape Verde', 'Kyrgyzstan', 'Georgia', 'Azerbaijan', 'Kiribati',
       'Tonga', 'Wallis Islands and Futuna', 'United Arab Emirates',
       'Brunei', 'Equatorial Guinea', 'Liechtenstein', 'Nepal',
       'Greenland', 'Niue', 'Samoa', 'American Samoa', 'Belize',
       'Anguilla', 'Cayman Islands', 'Palau', 'Sint Maarten', 'Namibia',
       'Åland Islands', 'Ynys Môn', 'Saint Martin', 'San Marino',
       'Slovenia', 'Jersey', 'Shetland', 'Isle of Wight', 'Moldova',
       'Ukraine', 'Kazakhstan', 'Tajikistan', 'Uzbekistan',
       'Turkmenistan', 'Armenia', 'Czech Republic', 'Guernsey',
       'Gibraltar', 'Isle of Man', 'North Macedonia', 'Montserrat',
       'Serbia', 'Canary Islands', 'Bosnia and Herzegovina', 'Maldives',
       'Andorra', 'British Virgin Islands', 'Frøya', 'Hitra',
       'United States Virgin Islands', 'Corsica', 'Eritrea', 'Bahamas',
       'Gotland', 'Saare County', 'Rhodes', 'Micronesia', 'Bhutan',
       'Orkney', 'Monaco', 'Tuvalu', 'Sark', 'Alderney', 'Mayotte',
       'Turks and Caicos Islands', 'Timor-Leste', 'Western Isles',
       'Falkland Islands', 'Kosovo', 'Republic of St. Pauli', 'Găgăuzia',
       'Tibet', 'Occitania', 'Sápmi', 'Northern Mariana Islands',
       'Menorca', 'Comoros', 'Provence', 'Arameans Suryoye', 'Padania',
       'Iraqi Kurdistan', 'Gozo', 'Bonaire', 'Western Sahara', 'Raetia',
       'Darfur', 'Tamil Eelam', 'South Sudan', 'Abkhazia',
       'Saint Pierre and Miquelon', 'Artsakh', 'Madrid', 'Vatican City',
       'Ellan Vannin', 'South Ossetia', 'County of Nice', 'Székely Land',
       'Romani people', 'Felvidék', 'Chagos Islands',
       'United Koreans in Japan', 'Somaliland', 'Western Armenia',
       'Barawa', 'Kárpátalja', 'Yorkshire', 'Panjab', 'Matabeleland',
       'Cascadia', 'Kabylia', 'Parishes of Jersey', 'Chameria',
       'Saint Helena', 'Yoruba Nation', 'Biafra', 'Mapuche', 'Aymara',
       'Ticino'], dtype=object)

In [12]:
df_resultados["home_team"].nunique()

311

In [14]:
len(df_resultados["home_team"].unique())

311

In [15]:
df_resultados["home_team"].value_counts()

Brazil                       597
Argentina                    577
Mexico                       562
Germany                      530
England                      527
                            ...
Romani people                  1
Saint Pierre and Miquelon      1
Central Spain                  1
Sark                           1
Ticino                         1
Name: home_team, Length: 311, dtype: int64

In [20]:
df_resultados.pivot_table(index="home_team", values="date", aggfunc="count").sort_values("date", ascending=False)

                           date
home_team
Brazil                      597
Argentina                   577
Mexico                      562
Germany                     530
England                     527
...                         ...
Saint Pierre and Miquelon     1
Kabylia                       1
Western Australia             1
Aymara                        1
Sark                          1

[311 rows x 1 columns]

## 5.2 Informações do DataFrame

In [70]:
df_resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44762 entries, 0 to 44761
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44762 non-null  object
 1   home_team   44762 non-null  object
 2   away_team   44762 non-null  object
 3   home_score  44762 non-null  int64
 4   away_score  44762 non-null  int64
 5   tournament  44762 non-null  object
 6   city        44762 non-null  object
 7   country     44762 non-null  object
 8   neutral     44762 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [72]:
df_resultados.shape # Linhas por colunas

(44762, 9)

## 5.3 Alterando valores do DataFrame

 Vimos as funções .loc e .index na seção 2.2 de pandas, caso tenha dúvidas nas linhas abaixo, reveja a seção 2.2

In [74]:
df_resultados_aux = df_resultados_small.copy() # o .copy() cria uma copia do dataframe, assim se alterarmos valores esses valores não serão alterados no dataframe base (no caso df_resultados)

print(f"Numero de gols que a Escócia marcou em casa: {df_resultados_aux[df_resultados_aux['home_team'] == 'Scotland']['home_score'].sum()}")
df_resultados_aux

Numero de gols que a Escócia marcou em casa: 35

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [66]:
# Mudando único valor

df_resultados_aux.loc[0, "home_score"] = 5

print(f"Numero de gols que a Escócia marcou em casa: {df_resultados_aux[df_resultados_aux['home_team'] == 'Scotland']['home_score'].sum()}")
df_resultados_aux

Numero de gols que a Escócia marcou em casa: 37

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,2,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [67]:
# Mudando vários valores
df_resultados_aux.loc[df_resultados_aux[df_resultados_aux["home_team"] == "Scotland"].index, "home_score"] = 2

print(f"Numero de gols que a Escócia marcou em casa: {df_resultados_aux[df_resultados_aux['home_team'] == 'Scotland']['home_score'].sum()}")
df_resultados_aux

Numero de gols que a Escócia marcou em casa: 16

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,2,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,2,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,2,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,2,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,2,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,2,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,2,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [68]:
# Inclusíve é possível usar funções ao msm tempo, nesse caso os gols da Escócia em casa serão a soma dos gols que tinham feito (no caso estabelecemos 2 na célula anterior) + os gols que tomaram do time visitante

df_resultados_aux.loc[df_resultados_aux[df_resultados_aux["home_team"] == "Scotland"].index, "home_score"] = df_resultados_aux.loc[df_resultados_aux[df_resultados_aux["home_team"] == "Scotland"].index, "away_score"] + df_resultados_aux.loc[df_resultados_aux[df_resultados_aux["home_team"] == "Scotland"].index, "home_score"]

print(f"Numero de gols que a Escócia marcou em casa: {df_resultados_aux[df_resultados_aux['home_team'] == 'Scotland']['home_score'].sum()}")
df_resultados_aux

Numero de gols que a Escócia marcou em casa: 24

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,2,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,3,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,2,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,2,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,4,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,2,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,6,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,3,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

## 5.4 Usando funções em colunas

In [85]:
df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["Qtd de Letras"] = df_resultados_aux["home_team"].apply(len)

df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Qtd de Letras
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,8
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,7
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,8
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,7
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,8
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,8
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,7
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,5
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,8
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,8
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,7
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,7
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,5
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,8
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,5
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,8
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,7
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,7
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,5
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,16

In [76]:
def muitos_gols(num_gols):
    if num_gols > 3:
        return "Muitos Gols"
    else:
        return "Meh"

df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["Muitos Gols?"] = df_resultados_aux["home_score"].apply(muitos_gols)

df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Muitos Gols?
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Meh
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Muitos Gols
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Meh
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Meh
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Meh
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,Muitos Gols
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,Meh
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,Meh
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,Muitos Gols
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,Muitos Gols
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,Meh
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,Muitos Gols
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,Meh
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,Muitos Gols
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,Meh
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,Muitos Gols
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,Meh
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,Meh
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,Meh
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,Meh

In [77]:
def ganhou_perdeu(gols_casa, gols_visitante):
    if gols_casa > gols_visitante:
        return "Ganhou"
    elif gols_casa == gols_visitante:
        return "Empatou"
    else:
        return "Perdeu"

df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["Ganhou?"] = df_resultados_aux.apply(lambda x: ganhou_perdeu(x["home_score"], x["away_score"]), axis=1)

df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Ganhou?
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Empatou
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Ganhou
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Ganhou
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Empatou
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Ganhou
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,Ganhou
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,Perdeu
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,Perdeu
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,Ganhou
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,Ganhou
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,Ganhou
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,Ganhou
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,Perdeu
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,Ganhou
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,Perdeu
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,Ganhou
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,Perdeu
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,Perdeu
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,Perdeu
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,Perdeu

In [80]:
df_resultados_aux.pivot_table(index="home_team", values="tournament", columns="Ganhou?", aggfunc="count")

Ganhou?           Empatou  Ganhou  Perdeu
home_team
England               1.0     3.0     3.0
Northern Ireland      NaN     NaN     1.0
Scotland              1.0     7.0     NaN
Wales                 NaN     NaN     4.0

## 5.5 Depara/procv com dicionário

Como demonstrado na seção 4.2, também é possível fazer o depara/procv com .merge()

In [134]:
dict_tradutor = {
    "England": "Inglaterra",
    "Northern Ireland": "Irlanda do Norte",
    "Scotland": "Escócia",
    "Wales": "País de Gales"
}

df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["Tradução"] = df_resultados_small["home_team"].map(dict_tradutor)
df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Tradução
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Escócia
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,Inglaterra
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Escócia
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Inglaterra
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Escócia
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,Escócia
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,Inglaterra
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,País de Gales
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,Escócia
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,Escócia
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,Inglaterra
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,Inglaterra
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,País de Gales
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,Escócia
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,País de Gales
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,Escócia
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,Inglaterra
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,Inglaterra
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,País de Gales
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,Irlanda do Norte

## 5.6 Criação de chaves

In [125]:
df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["chave"] = list(zip(df_resultados_aux["home_team"], df_resultados_aux["away_team"]))
df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,chave
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,"(Scotland, England)"
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,"(England, Scotland)"
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,"(Scotland, England)"
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,"(England, Scotland)"
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,"(Scotland, England)"
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)"
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,"(England, Scotland)"
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,"(Wales, Scotland)"
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,"(Scotland, England)"
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)"
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,"(England, Wales)"
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,"(England, Scotland)"
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,"(Wales, Scotland)"
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,"(Scotland, England)"
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,"(Wales, England)"
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)"
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,"(England, Wales)"
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,"(England, Scotland)"
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,"(Wales, Scotland)"
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,"(Northern Ireland, England)"

In [126]:
df_resultados_aux["ValorSelecionado"] = df_resultados_aux["chave"].str.get(1)

df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,chave,ValorSelecionado
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,"(Scotland, England)",England
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,"(England, Scotland)",Scotland
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,"(Scotland, England)",England
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,"(England, Scotland)",Scotland
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,"(Scotland, England)",England
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)",Wales
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,"(England, Scotland)",Scotland
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,"(Wales, Scotland)",Scotland
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False,"(Scotland, England)",England
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)",Wales
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False,"(England, Wales)",Wales
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,"(England, Scotland)",Scotland
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,"(Wales, Scotland)",Scotland
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False,"(Scotland, England)",England
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False,"(Wales, England)",England
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,"(Scotland, Wales)",Wales
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False,"(England, Wales)",Wales
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False,"(England, Scotland)",Scotland
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,"(Wales, Scotland)",Scotland
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,"(Northern Ireland, England)",England

## 5.7 Funções de strings em colunas

In [127]:
df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["home_team"] = df_resultados_aux["home_team"].str.upper()

df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,SCOTLAND,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,ENGLAND,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,SCOTLAND,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,ENGLAND,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,SCOTLAND,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,SCOTLAND,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,ENGLAND,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,WALES,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,SCOTLAND,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,SCOTLAND,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,ENGLAND,Wales,2,1,Friendly,London,England,False
11,1879-04-05,ENGLAND,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,WALES,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,SCOTLAND,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,WALES,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,SCOTLAND,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,ENGLAND,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,ENGLAND,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,WALES,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,NORTHERN IRELAND,England,0,13,Friendly,Belfast,Ireland,False

In [128]:
df_resultados_aux = df_resultados_small.copy()

df_resultados_aux["date"] = df_resultados_aux["date"].str.split("-")
df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,"[1872, 11, 30]",Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,"[1873, 03, 08]",England,Scotland,4,2,Friendly,London,England,False
2,"[1874, 03, 07]",Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,"[1875, 03, 06]",England,Scotland,2,2,Friendly,London,England,False
4,"[1876, 03, 04]",Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,"[1876, 03, 25]",Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,"[1877, 03, 03]",England,Scotland,1,3,Friendly,London,England,False
7,"[1877, 03, 05]",Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,"[1878, 03, 02]",Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,"[1878, 03, 23]",Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,"[1879, 01, 18]",England,Wales,2,1,Friendly,London,England,False
11,"[1879, 04, 05]",England,Scotland,5,4,Friendly,London,England,False
12,"[1879, 04, 07]",Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,"[1880, 03, 13]",Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,"[1880, 03, 15]",Wales,England,2,3,Friendly,Wrexham,Wales,False
15,"[1880, 03, 27]",Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,"[1881, 02, 26]",England,Wales,0,1,Friendly,Blackburn,England,False
17,"[1881, 03, 12]",England,Scotland,1,6,Friendly,London,England,False
18,"[1881, 03, 14]",Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,"[1882, 02, 18]",Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [129]:
df_resultados_aux["dia"] = df_resultados_aux["date"].str.get(2)
df_resultados_aux

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,dia
0,"[1872, 11, 30]",Scotland,England,0,0,Friendly,Glasgow,Scotland,False,30
1,"[1873, 03, 08]",England,Scotland,4,2,Friendly,London,England,False,08
2,"[1874, 03, 07]",Scotland,England,2,1,Friendly,Glasgow,Scotland,False,07
3,"[1875, 03, 06]",England,Scotland,2,2,Friendly,London,England,False,06
4,"[1876, 03, 04]",Scotland,England,3,0,Friendly,Glasgow,Scotland,False,04
5,"[1876, 03, 25]",Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,25
6,"[1877, 03, 03]",England,Scotland,1,3,Friendly,London,England,False,03
7,"[1877, 03, 05]",Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,05
8,"[1878, 03, 02]",Scotland,England,7,2,Friendly,Glasgow,Scotland,False,02
9,"[1878, 03, 23]",Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False,23
10,"[1879, 01, 18]",England,Wales,2,1,Friendly,London,England,False,18
11,"[1879, 04, 05]",England,Scotland,5,4,Friendly,London,England,False,05
12,"[1879, 04, 07]",Wales,Scotland,0,3,Friendly,Wrexham,Wales,False,07
13,"[1880, 03, 13]",Scotland,England,5,4,Friendly,Glasgow,Scotland,False,13
14,"[1880, 03, 15]",Wales,England,2,3,Friendly,Wrexham,Wales,False,15
15,"[1880, 03, 27]",Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False,27
16,"[1881, 02, 26]",England,Wales,0,1,Friendly,Blackburn,England,False,26
17,"[1881, 03, 12]",England,Scotland,1,6,Friendly,London,England,False,12
18,"[1881, 03, 14]",Wales,Scotland,1,5,Friendly,Wrexham,Wales,False,14
19,"[1882, 02, 18]",Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False,18

## 5.8 Conversões

In [130]:
df_resultados_aux = df_resultados_small.copy()

print(f"Tipo de variável pré conversão: {df_resultados_aux['home_score'].dtype}")

df_resultados_aux["home_score"] = df_resultados_aux["home_score"].astype(str)

print(f"Tipo de variável pós conversão: {df_resultados_aux['home_score'].dtype}")

Tipo de variável pré conversão: int64
Tipo de variável pós conversão: object

## 5.9 Funções de data

In [131]:
df_resultados_aux = df_resultados_small.copy()

print(f"Tipo de variável pré conversão: {df_resultados_aux['date'].dtype}")

df_resultados_aux["date"] = pd.to_datetime(df_resultados_aux["date"], format="%Y-%m-%d")

print(f"Tipo de variável pós conversão: {df_resultados_aux['date'].dtype}")
df_resultados_aux

Tipo de variável pré conversão: object
Tipo de variável pós conversão: datetime64[ns]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [121]:
dia_semana = {
    0: "Domingo",
    1: "Segunda",
    2: "Terça",
    3: "Quarta",
    4: "Quinta",
    5: "Sexta",
    6: "Sábado",
}

df_resultados_aux["dia_dt"] = df_resultados_aux["date"].dt.day
df_resultados_aux["dia_semana_dt"] = df_resultados_aux["date"].dt.weekday.map(dia_semana)
df_resultados_aux["Bisexto?_dt"] = df_resultados_aux["date"].dt.is_leap_year
df_resultados_aux[[column for column in df_resultados_aux.columns if ("_dt" in column) or column in ["date", "home_team", "away_team", "home_score", "away_score"]]]

,date,home_team,away_team,home_score,away_score,dia_dt,dia_semana_dt,Bisexto?_dt
0,1872-11-30,Scotland,England,0,0,30,Sexta,True
1,1873-03-08,England,Scotland,4,2,8,Sexta,False
2,1874-03-07,Scotland,England,2,1,7,Sexta,False
3,1875-03-06,England,Scotland,2,2,6,Sexta,False
4,1876-03-04,Scotland,England,3,0,4,Sexta,True
5,1876-03-25,Scotland,Wales,4,0,25,Sexta,True
6,1877-03-03,England,Scotland,1,3,3,Sexta,False
7,1877-03-05,Wales,Scotland,0,2,5,Domingo,False
8,1878-03-02,Scotland,England,7,2,2,Sexta,False
9,1878-03-23,Scotland,Wales,9,0,23,Sexta,False
10,1879-01-18,England,Wales,2,1,18,Sexta,False
11,1879-04-05,England,Scotland,5,4,5,Sexta,False
12,1879-04-07,Wales,Scotland,0,3,7,Domingo,False
13,1880-03-13,Scotland,England,5,4,13,Sexta,True
14,1880-03-15,Wales,England,2,3,15,Domingo,True
15,1880-03-27,Scotland,Wales,5,1,27,Sexta,True
16,1881-02-26,England,Wales,0,1,26,Sexta,False
17,1881-03-12,England,Scotland,1,6,12,Sexta,False
18,1881-03-14,Wales,Scotland,1,5,14,Domingo,False
19,1882-02-18,Northern Ireland,England,0,13,18,Sexta,False